	<div class='columns large-12 medium-12'>
		<h1>Welcome to my Blog!</h1>
		<p>
			I want to thank you for visiting my site.
		</p>
		<p>
			This site is built with the <strong>Ruby on Rails</strong> framework.
			It's a joy to work with and it chooses convention over configuration in favor
			of opinionated convention of how a RESTful application should be configured.
		</p>
		<p>
			Stay tuned, there's a lot of work still to be done.
			I have to build a CMS, integrate <strong>React.js</strong> in the frontend.
			Which means there's a ton of work to done lol.
			All a joy of course.
		</p>
	</div>
